<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- <bean/> definitions here -->
    <bean id="user" class="User">

        <property name="firstName">
            <value>Snorri</value>
        </property>
        <property name="lastName">
            <value>The Master</value>
        </property>
        <property name="displayName">
            <value>Lordnsaviour</value>
        </property>
        <property name="birthDate">
            <value>First second of the first day</value>
        </property>
    </bean>
</beans>