<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- <bean/> definitions here -->
    <bean id="user" class="is.ru.honn.rutube.domain.User">
        <property name="userId">
            <value>12345</value>
        </property>
        <property name="firstName">
            <value>Snorri</value>
        </property>
        <property name="lastName">
            <value>The Master</value>
        </property>
        <property name="displayName">
            <value>Lordnsaviour</value>
        </property>
        <property name="birthDate">
            <value>First second of the first day</value>
        </property>
    </bean>

    <bean id="video1" class="is.ru.honn.rutube.domain.Video">
        <property name="videoId">
            <value>2222</value>
        </property>
        <property name="title">
            <value>TwoTwoTwoTwo</value>
        </property>
        <property name="description">
            <value>Some description</value>
        </property>
        <property name="src">
            <value>url</value>
        </property>
        <property name="type">
            <value>music</value>
        </property>
        <property name="tags">
            <list>
                <value>woohoo</value>
                <value>woowoo</value>
            </list>
        </property>
    </bean>

    <bean id="video2" class="is.ru.honn.rutube.domain.Video">
        <property name="videoId">
            <value>3333</value>
        </property>
        <property name="title">
            <value>ThreeThreeThreeThree</value>
        </property>
        <property name="description">
            <value>Some description</value>
        </property>
        <property name="src">
            <value>url</value>
        </property>
        <property name="type">
            <value>music</value>
        </property>
        <property name="tags">
            <list>
                <value>threeeeee</value>
            </list>
        </property>
    </bean>
</beans>